---
import i18next, { t, changeLanguage } from "i18next";
import "../../styles/index.css";
import Header from "../../Components/header/Header.astro";
import Main from "../../Components/main/main.astro";
import Footer from "../../Components/footer/Footer.astro";

changeLanguage("en");
---

<html lang={i18next.language}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio | Mauro Mizhquiri</title>
		<meta
			name="description"
			content="Mauro Mizhquiri, FullStack developer working on the Frontend with technologies like React,
			 Angular, Astro, and TypeScript, and on the Backend with Spring Boot and Flask. Additionally, I work 
			 with databases like PostgreSQL and MySQL. I have one year of experience in developing attractive and functional web applications."
		/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://rolando-dev.vercel.app/" />
		<meta property="og:site_name" content="Mauro Mizhquiri" />
		<meta property="og:title" content="Mauro Mizhquiri Portfolio" />
		<meta
			property="og:image"
			content="https://rolando-dev.vercel.app/img/preview-page.webp"
		/>
		<script
			src="https://kit.fontawesome.com/2898a0ac51.js"
			crossorigin="anonymous"></script>
	</head>
	<body>
		<Header />
		<Main />
		<Footer />
	</body>
</html>
