---
import Home from '../main/home/Home.astro'
import About from '../main/about/About.astro'
import Studies from '../main/studies/Studies.astro'
import Skills from './skills/Skills.astro'
import Projects from './projects/Projects.astro'
---

<main>
    <div class="container">
        <Home/>
        <Projects/>
        <Skills/>
        <Studies/>
        <About/>
        
    </div>
</main>