---
import i18next, { t, changeLanguage } from "i18next";
import "../styles/index.css";
import Header from "../Components/header/Header.astro";
import Main from "../Components/main/main.astro";
import Footer from "../Components/footer/Footer.astro";

changeLanguage("es");
---

<html lang={i18next.language}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio | Mauro Mizhquiri</title>

		<meta
			name="description"
			content="Mauro Mizhquiri desarrollador FullStack trabajando en la parte de Frontend con 
			tecnologías como React, Angular, Astro, TypeScript y para la parte del Backend trabajo con 
			Spring Boot y Flask, además trabajo con Bases de datos como PostgreSQL y MySQL, cuento con un
			año de experiencia en el desarrollo de aplicaciones web atractivas y funcionalees."
		/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://rolando-dev.vercel.app/" />
		<meta property="og:site_name" content="Mauro Mizhquiri" />
		<meta property="og:title" content="Mauro Mizhquiri Portafolio" />
		<meta
			property="og:image"
			content="https://rolando-dev.vercel.app/img/preview-page.webp"
		/>

		<script
			src="https://kit.fontawesome.com/2898a0ac51.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<Header />
		<Main />
		<Footer />
	</body>
</html>
